@import "fonts";

html, body, #app {
    height: 100%;
    width: 100%;
    font-family: 'Graphik';
    font-weight: 200;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}